*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	--scrollbarBG: #DFE7EE;

	--appColorPrimary: #6B8DF2;
	--appColorPriAccent: #A1B5F1;
	--appColorPriDark: #3B62D6;
	--appColorPriOpaque: rgb(107, 141, 242, 0.30);
	--appBGColor: #F0F0F2;
	--appBGColorDark: #e2e2e2;
	--appDelColor: #F26B6B;
	--appDelColorOpaque: rgba(242, 107, 107, 0.90);
	--appColorSecondary: #8AA7FF;
	--appColorTertiary: #3854A6;
	--appColorQuaternary: #94C6F2;
	--appColorDisabled: #7e7e7e;

	--rareColor: #5EAFFA;
	--rareColorAccent: #4D8DC8;
	--eliteColor: #AF3CEA;
	--eliteColorAccent: #6D2691;
	--legendColor: #F7BC19;
	--legendColorAccent: #E0920B;
	--mythicColor: #E60B51;
	--mythicColorAccent: #A6083A;
	--ascColor1: #91BDFF;
	--ascColor1Alpha: rgba(145, 189, 255, 0);
	--ascColor2: #E196FF;
	--ascColor2Alpha: rgba(225, 150, 255, 0);
	--ascColor3: #B1A3FE;
	--ascColor3Alpha: rgba(177, 163, 254, 0);
	--ascColorAccent: #B289E8;

	--headerHeight: 45px;
}

body {
	color: #333;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	min-height: 100vh;
	min-height: -webkit-fill-available; /* mobile viewport bug fix */
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

html {
	height: -webkit-fill-available; /* mobile viewport bug fix */
}

::-webkit-scrollbar {
	width: 11px;
	height: 11px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
	background-color: var(--appColorQuaternary) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}
