<script>
	import { quintOut } from "svelte/easing";
	import { crossfade } from "svelte/transition";
	import { flip } from "svelte/animate";
	// FLIP ANIMATION
	const [send, receive] = crossfade({
		duration: d => Math.sqrt(d * 200),
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === "none" ? "" : style.transform;
			return {
				duration: 600,
				easing: quintOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});
	// DRAG AND DROP
	let isOver = false;
	const getDraggedParent = node =>
		node.dataset && node.dataset.index
			? node.dataset
			: getDraggedParent(node.parentNode);
	const start = ev => {
		ev.dataTransfer.setData("source", ev.target.dataset.index);
	};
	const over = ev => {
		ev.preventDefault();
		let dragged = getDraggedParent(ev.target);
		if (isOver !== dragged.id) isOver = JSON.parse(dragged.id);
	};
	const leave = ev => {
		let dragged = getDraggedParent(ev.target);
		if (isOver === dragged.id) isOver = false;
	};
	const drop = ev => {
		isOver = false;
		ev.preventDefault();
		let dragged = getDraggedParent(ev.target);
		let from = ev.dataTransfer.getData("source");
		let to = dragged.index;
		reorder({ from, to });
	};
	// DISPATCH REORDER
	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();
	const reorder = ({ from, to }) => {
		let newList = [...list];
		newList[from] = [newList[to], (newList[to] = newList[from])][0];
		dispatch("sort", newList);
	};
	// UTILS
	const getKey = item => (key ? item[key] : item);
	// PROPS
	export let list = [];
	export let key = '';
</script>

{#if list && list.length}
	<ul>
		<!-- These properties were on the li element, but they break the ability to
			move between app views, so I removed them -->
		<!-- in:receive={{ key: getKey(item) }}
				out:send={{ key: getKey(item) }} -->
		{#each list as item, index (getKey(item))}
			<li
				data-index={index}
				data-id={JSON.stringify(getKey(item))}
				draggable="true"
				on:dragstart={start}
				on:dragover={over}
				on:dragleave={leave}
				on:drop={drop}
				animate:flip={{ duration: 300 }}
				class:over={getKey(item) === isOver}>
				<slot {item} {index}>
					<p>{getKey(item)}</p>
				</slot>
			</li>
		{/each}
	</ul>
{/if}

<style lang="scss">
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		border: 2px dashed transparent;
		border-radius: 10px;
		transition: border 0.1s linear;
		padding: 5px 5px;
	}
	.over {
		border-color: var(--appColorPriAccent);
	}
</style>
